// Global running params
params {
	input  = null
	ext    = "fna"
	fasta  = "biomags_repr.fna"
	outdir = "results"
	debug  = false
	help   = false
}

// Save report
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
trace {
	enabled = true
	file    = "${params.outdir}/pipeline_info/trace_${trace_timestamp}.txt"
}
report {
	enabled = true
	file    = "${params.outdir}/pipeline_info/report_${trace_timestamp}.html"
}

// Global resources
executor {
	name      = 'slurm'
	queue     = 'uohhm'
	queueSize = 10
}

process {
	withName: 'BWAMEM2' {
		cpus   = 16
		memory = 40.GB
	}
	withName: 'CALC_DEPTHS' {
		cpus   = 8
		memory = 10.GB
	}
	
	maxRetries    = 3
	errorStrategy = 'retry'
}

profiles {
	singularity {
		singularity.enabled    = true
		singularity.autoMounts = true
		docker.enabled	       = false
	}
}
